*.pid
*.xml
*.csr
*.crt
*.key
icloud
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
phue.conf
harmony_media_room.conf
pyozw.sqlite
!/.gitignore
.ios.conf
.HA_VERSION
pwfile
.uuid
mosquitto-int.conf
plex.conf
mysqlrootpassword.txt
mysqlpassword.txt
/mysql
.DS_Store
/dasher/config
appdaemon/apps/__pycache__/
custom_components/alexa_media/__pycache__/

.spotify-token-cache
secrets.h
.storage
.cloud
*.pickle
