{"buttons":[
  {
    "name": "Good Morning Dash",
    "address": "aa:11:bb:cc:22:dd",
    "url": "https://**URLREMOVED**/api/services/input_boolean/turn_on",
    "method": "POST",
    "headers": {"x-ha-access": "**PASSWORDREMOVED**"},
    "json": true,
    "body": {"entity_id": "input_boolean.good_morning"}
  }
]}